/vendor
/app/Support/NodeServer/node_modules
/public/assets/libs/DELETE
/public/uploads
Homestead.yaml
Homestead.json
.env
/.idea
_ide_helper.php
/public/upload
.DS_Store
/node_modules
gulpfile.js
package.json
